body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    background-color:black;
    width: 100%;
    height: 100vh;
    background-color: rgb( 52, 58, 68);
}
.body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color:black;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: rgb( 52, 58, 68);
    flex-direction: column;

}

.logo{
    width: 12%;
    height: 70px;
    background-color: red;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid white;
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;

}
.V{
    font-size: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    z-index: 1;
    position: absolute;
   margin-left: 45%;
   margin-top: 2%;
   font-family: Arial, Helvetica, sans-serif   ;

}
.circl{
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb( 70, 86, 89);
    border: 1px solid black;
    box-shadow: 0px 0px 32px 8px black, 0px 0px 4px 1px black inset;
    position: relative;
    top: 80px;
}
.cir{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid rgb( 178, 250, 253);
}
.circle {   
    position: relative;
    width: 47vh;
    height: 47vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #52fefe;
    background-color: #fff;
    animation: animate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.center{
   width: 37vh;
   height: 37vh;
   background-color: #073c4b;
   border-radius: 50%;
   box-shadow: 0px 0px 5px 4px #52fefe, 0px 0px 6px 2px #52fefe inset;
   display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.center1{
    width: 26vh;
    height: 26vh;
    border: 4px solid #52fefe;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center2{
    width: 17vh;
    height: 17vh;
    border:7px solid #52fefe;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 5px #52fefe, 0px 0px 10px 10px #52fefe inset;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center3{
    width: 17vh;
    height: 17vh;
    border: 7px solid #073c4b;
    border-radius: 50%;
    position: absolute;
}

.sq{
    width: 65px;
    height: 502px;
    margin-bottom: 0%;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #52fefe inset;
    position: absolute;
}
.sq1{
    width:558px;
    height: 65px;
    margin-bottom: 1%;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #52fefe inset;
}
.sq2{
    width: 65px;
    height: 502px;
    transform: rotate(45deg);
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #52fefe inset;
    position: absolute;
}
.sq3{
    width: 65px;
    height: 502px;
    transform: rotate(-45deg);
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #52fefe inset;
    position: absolute;
}

@keyframes animate {
from {
    transform:rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}








.background {
    height: 100vh;
    width:  50vw;
    background-color: rgb(10, 94, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
  }
  .move {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .circ {
    height: 600px;
    width: 600px;
    background-color: black;
    border-radius: 100%;
    box-shadow: 0px 1px 17px 36px rgba(11, 134, 13, 0.89);
  }
  .move2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  .circ2 {
    height: 510px;
    width: 510px;
    background-color: black;
    border-radius: 100%;
    box-shadow: 0px 1px 7px 13px  rgba(11, 134, 13, 0.89);
   
  }
  .move3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 510px;
  }
  .circ3 {
    height: 480px;
    width: 480px;
    background-color: black;
    border-radius: 100%;
    box-shadow: 0px 1px 7px 13px inset rgba(11, 134, 13, 0.89);
  }
  .back {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mygreen 3s infinite;
    border-radius: 100%;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes mygreen {
    from {
      transform:rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
  }
  
  .urt {
    height: 280px;
    width: 50px;
    background-color: black;
    box-shadow: 1px 1px 6px 8px rgba(11, 134, 13, 0.89);
    position: relative;
    z-index: 9;
    right: 10px;
  }
  .dugui {
    position: relative;
    height: 280px;
    width: 280px;
    background-color: black;
    border-radius: 100%;
    box-shadow: -1px 1px 6px 8px rgba(11, 134, 13, 0.89);
  }
  .dugui > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
  }
  .move7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
  }
  .jijig {
    height: 190px;
    width: 190px;
    border-radius: 100%;
    background-color: black;
    box-shadow: 0px 1px 17px 12px inset rgba(11, 134, 13, 0.89);
  }
  .blak {
    height: 200px;
    width: 270px;
    background-color: black;
  }
  .popo {
    height: 180px;
    width: 250px;
    background-color: blue;
    border-radius: 100%;
  }
  .lolo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .blackj {
    height: 160px;
    width: 230px;
    background-color: black;
    border-radius: 100%;
  }
  .lolo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 250px;
  }
  .ds {
    color: blue;
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hud {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }
  .buh {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 61px;
  }
  .sword {
    position: absolute;
    left: 0;
  }
  .word {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
  }
  .urt2 {
    z-index: 9;
    height: 280px;
    width: 50px;
    background-color: black;
    box-shadow: -1px 1px 6px 8px rgba(11, 134, 13, 0.89);
    position: relative;
    left: 10px;
  }
  .har {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-color: antiquewhite;
  }
  